{% extends "base.html" %}
{% set header_title = "Добавить пост" %}
{% set header_subtitle = "Добавление новой записи" %}
{% block title %}Добавить пост{% endblock title %}
{% block content %}
<form method="POST", action="{{url_for('new')}}">
{{ form.csrf_token }}
<div class="form-group">
    <label for="title">Заголовок записи</label>
    {{form.title}}
</div>
<div class="form-group">
    <label for="body">Текст</label>
    {{form.body}}
</div>
<button type="submit" class="btn btn-primary">Добавить</button>
</form>
{% endblock content %}