{% extends "base.html" %}
{% set header_title = "Таблица ссылок" %}
{% set header_subtitle = "" %}
{% block title %}Главная{% endblock title %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<div class="container-fluid">
   <h4><a href="{{url_for('linknew')}}" class="btn btn-primary">Добавить URL</a></h4>
   <div class="table-responsive-sm">
      <table class="table table-bordered">
         <thead>
            <tr>
               <th>№</th>
               <th>Исходный URL</th>
               <th>Короткая ссылка</th>
            </tr>
         </thead>
         <tbody>
            {% for row in rows %}
            <tr>
                <!-- Post preview-->
                
               <td><a href="{{url_for('linkedit', link_id=row.id)}}"> {{row.num}} </a></td>
               <td>{{row.link}}</td>
               <td>{{short_links[row.id]}}</td>
               
            </tr>   
            {% endfor %}
      </table>
   </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
{% endblock content %}