        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/"></a>
                    {% if g.logged_username %}
                    <div class="navbar-brand">@{{g.logged_username}} </div>
                    <a class="navbar-brand" href="{{url_for('logout')}}">Выход</a>
                    <a class="navbar-brand" href="{{url_for('linknew')}}">Добавить URL</a>
                    {% else %}
                    <a class="navbar-brand" href="{{url_for('registration')}}">Регистрация</a>
                    <a class="navbar-brand" href="{{url_for('login')}}">Вход</a>
                    {% endif %}

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Меню
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        {% if g.logged_username %}
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/">Таблица ссылок</a></li>
                        {% endif %}
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{url_for('about')}}">О сайте</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{url_for('contacts')}}">Связь</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({{background_image}})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>{{ header_title }}</h1>
                            <span class="subheading">{{ header_subtitle }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>